In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("data2.csv")
df

    Name   Python Machine Learning      Age       AI  NLP       Cv
0    jay       90                ?       23       90    ?       23
1    raj  missing               89      NaN  missing   89      NaN
2  kumar       78               78        ?       78   78        ?
3  suraj      NaN              NaN  missing      NaN  NaN  missing
4  pawan  missing              NaN       21  missing  NaN       21
5  viraj       65               56       22       65   56       22
6  vijay       45               67        ?       45   67        ?
7  sumit       80               45       24       80   45       24
8  akash       70               67  missing       70   67  missing
9  sujit      NaN              NaN       22      NaN  NaN       22

In [3]:
df["Machine Learning"].value_counts()

67    2
?     1
89    1
78    1
56    1
45    1
Name: Machine Learning, dtype: int64

In [4]:
df["Age"].value_counts()

?          2
missing    2
22         2
23         1
21         1
24         1
Name: Age, dtype: int64

In [5]:
df["AI"].value_counts()

missing    2
90         1
78         1
65         1
45         1
80         1
70         1
Name: AI, dtype: int64

In [6]:
df["NLP"].value_counts()

67    2
?     1
89    1
78    1
56    1
45    1
Name: NLP, dtype: int64

In [7]:
df["Cv"].value_counts()

?          2
missing    2
22         2
23         1
21         1
24         1
Name: Cv, dtype: int64

In [8]:
df.describe()

       Name   Python Machine Learning Age       AI NLP Cv
count    10        8                7   9        8   7  9
unique   10        7                6   6        7   6  6
top     jay  missing               67   ?  missing  67  ?
freq      1        2                2   2        2   2  2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            8 non-null      object
 2   Machine Learning  7 non-null      object
 3   Age               9 non-null      object
 4   AI                8 non-null      object
 5   NLP               7 non-null      object
 6   Cv                9 non-null      object
dtypes: object(7)
memory usage: 692.0+ bytes

In [10]:
df["Python"].replace("?",np.nan,inplace=True)

In [17]:
df["Python"].replace("missing",np.nan,inplace=True)

In [11]:
df["Machine Learning"].replace("?",np.nan,inplace=True)

In [12]:
df["Age"].replace("?",np.nan,inplace=True)

In [19]:
df["Age"].replace("missing",np.nan,inplace=True)

In [13]:
df["AI"].replace("?",np.nan,inplace=True)

In [20]:
df["AI"].replace("missing",np.nan,inplace=True)

In [14]:
df["NLP"].replace("?",np.nan,inplace=True)

In [15]:
df["Cv"].replace("?",np.nan,inplace=True)

In [21]:
df["Cv"].replace("missing",np.nan,inplace=True)

In [18]:
df["Python"]=df["Python"].astype("float64")

In [22]:
df["Machine Learning"]=df["Machine Learning"].astype("float64")

In [23]:
df["Age"]=df["Age"].astype("float64")

In [24]:
df["AI"]=df["AI"].astype("float64")

In [25]:
df["NLP"]=df["NLP"].astype("float64")

In [26]:
df["Cv"]=df["Cv"].astype("float64")

In [27]:
df["Python"].mean()

71.33333333333333

In [29]:
df["Python"].fillna(df["Python"].mean(),inplace=True)

In [30]:
df["Machine Learning"].fillna(df["Machine Learning"].mean(),inplace=True)

In [31]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

In [32]:
df["AI"].fillna(df["AI"].mean(),inplace=True)

In [34]:
df["NLP"].fillna(df["NLP"].mean(),inplace=True)

In [35]:
df["Cv"].fillna(df["Cv"].mean(),inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            10 non-null     float64
 2   Machine Learning  10 non-null     float64
 3   Age               10 non-null     float64
 4   AI                10 non-null     float64
 5   NLP               10 non-null     float64
 6   Cv                10 non-null     float64
dtypes: float64(6), object(1)
memory usage: 692.0+ bytes

In [37]:
df

    Name     Python  Machine Learning   Age         AI        NLP    Cv
0    jay  90.000000              67.0  23.0  90.000000  71.333333  23.0
1    raj  71.333333              89.0  22.4  71.333333  89.000000  22.4
2  kumar  78.000000              78.0  22.4  78.000000  78.000000  22.4
3  suraj  71.333333              67.0  22.4  71.333333  71.333333  22.4
4  pawan  71.333333              67.0  21.0  71.333333  71.333333  21.0
5  viraj  65.000000              56.0  22.0  65.000000  56.000000  22.0
6  vijay  45.000000              67.0  22.4  45.000000  67.000000  22.4
7  sumit  80.000000              45.0  24.0  80.000000  45.000000  24.0
8  akash  70.000000              67.0  22.4  70.000000  67.000000  22.4
9  sujit  71.333333              67.0  22.0  71.333333  71.333333  22.0